<%- include("partials/header") %>
<h1>Cats!</h1>
<img src="../public/cat1.jpg" alt="cat 1">
<img src="../public/cat2.jpg" alt="cat 2">
<img src="../public/cat3.jpg" alt="cat 3">
<%- include("partials/footer") %>