<%- include("partials/header") %>
    <% if (user) { %>
        <h1>Welcome</h1>
        <a href="/members">Members</a> | <a href="/logout">Logout</a>
    <% } else { %>
        <h1>Welcome to the site!</h1>
        <a href="/signup">Sign Up</a> | <a href="/login">Login</a>
    <% } %>
<%- include("partials/footer") %>